body {
  font-family: Verdana, Geneva, sans-serif;
  color: #404040;
  margin-top: 1em;
  margin-left: 1em;
}
@media (max-height: 640px) {
  body { font-size: small; }
}
@media (max-height: 480px) {
  body { font-size: x-small; }
}
#chat-client .error {
  font-style: italic;
  color: #a04040;
}
.panel {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#chat-box .notice {
  font-style: italic;
  color: gray;
}
#chat-box, #chat-input, #chat-identity-list {
  margin-top: 0.5em;
  border-style: solid;
  border-width: 0.12em;
  border-color: gray;
  background-color: white;
}
#chat-box {
  padding: 0.25em;
  overflow-y:scroll;
  vertical-align: bottom;
}
#chat-identity {
  padding-right: 0.25em;
  text-align: right;
}
#chat-box .message .identity {
  font-weight: bold;
}
#chat-box .message .text * {
  display: inline;
}
#chat-identity-list {
  padding: 0.25em;
  overflow-x: hidden;
}
#chat-identity-list .identity {
  text-align: right;
}
#chat-input {
  margin-top: 0.5em;
  margin-bottom: -0.5em;
  padding: 0.25em;
  font-family: inherit;
  font-size: inherit;
}
#chat-box, #chat-identity-list {
  height: 25em;
}
#chat-identity-list {
  margin-left: -1.25em;
}
@media (max-width: 767px) {
  #chat-identity-list {
    margin-left: 0em;
    height: 2.3em;
    overflow-y: hidden;
    text-align: right;
  }
  #chat-identity-list .identity {
    padding-left: 0.25em;
    display: inline;
    line-height: 2em;
  }
}
