body {
  font-family: Verdana, Geneva, sans-serif;
  color: #404040;
  margin-top: 1em;
  margin-left: 1em;
}
.row .columns:first-of-type, .row .column:first-of-type {
  padding-left: 0.5em;
}
.row .columns:last-of-type, .row .column:last-of-type {
  padding-right: 0.5em;
}
#chat-client .error {
  font-style: italic;
  color: #a04040;
}
.panel {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#chat-box .notice {
  font-style: italic;
  color: gray;
}
#chat-box, #chat-input, #chat-identity-list {
  border-style: solid;
  border-width: 0.12em;
  border-color: gray;
  background-color: white;
}
#chat-box {
  padding: 0.25em;
  overflow-y:scroll;
  vertical-align: bottom;
}
#chat-identity {
  padding-bottom: 0.25em;
  padding-right: 0.25em;
  text-align: right;
}
#chat-box .message .identity {
  font-weight: bold;
}
#chat-box .message .text * {
  display: inline;
}
#chat-identity-list {
  margin-left: -1.25em;
  padding: 0.25em;
  overflow-x: hidden;
}
#chat-client #chat-box, #chat-client #chat-identity-list {
  height: 30em;
}
#chat-client.tiny #chat-box, #chat-client.tiny #chat-identity-list {
  height: 10em;
}
#chat-identity-list .identity {
  text-align: right;
}
#chat-input {
  margin-top: 0.5em;
  margin-bottom: -0.5em;
  padding: 0.25em;
  font-family: inherit;
  font-size: inherit;
}
